<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    通过FactoryBean来配置Bean
    class：指定FactoryBean的全类名。
    property：【可选】当FactoryBean里面需要传入必要的参数时，我们可以写上此属性。
    -->
    <bean id="java" class="main.BookFactoryBean" p:name="java" p:price="11.00"/>
    <bean id="go" class="main.BookFactoryBean" p:name="go" p:price="22.00"/>
    <bean id="python" class="main.BookFactoryBean" p:name="python" p:price="33.00"/>

</beans>